:root {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}   
*, ::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.redcircle>div {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    animation: movered 4s linear 1ms infinite normal running;  
}
@keyframes movered {
    from {background:rgba(252, 106, 106, 0.712); transform: translate(140px, 430px) rotate(180deg);}
    50% {border-radius: 50%; box-shadow: 0 0 0 0px rgba(241, 164, 159, 0.747);}
    90% {transform: scale(2) translateY(100px) translateX(60px); border-radius: 50%; background: rgba(252, 106, 106, 0.712); box-shadow: 0 0 0 20px rgba(241, 164, 159, 0.747);}
    to {transform: scale(2) translateY(100px) translateX(60px); border-radius: 50%; background: rgba(252, 106, 106, 0.178);  box-shadow: 0 0 0 20px transparent;}
}

.bluecircle>div {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    animation: moveblue 4s linear 1ms infinite normal running;  
}
@keyframes moveblue {
    from {background:rgba(106, 140, 235, 0.712); transform: translate(140px, 430px) rotate(180deg);}
    50% {border-radius: 50%; box-shadow: 0 0 0 0px rgba(37, 26, 202, 0.747);}
    90% {transform: scale(2) translateY(100px) translateX(60px); border-radius: 50%; background: rgba(98, 150, 209, 0.712); box-shadow: 0 0 0 20px rgba(119, 109, 209, 0.747);}
    to {transform: scale(2) translateY(100px) translateX(60px); border-radius: 50%; background: rgba(117, 115, 226, 0.178);  box-shadow: 0 0 0 20px transparent;}
}









.contain {
    perspective: 600px;
}
.button {
    display: inline;
    /* width: 100px;
    height: 40px; */
    background: linear-gradient(to top,
    rgb(240, 240, 232) 0, 
    rgb(241, 134, 91) 100%);
    border-radius: 7px;
    border: 2px solid orange;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(228, 110, 0); 
    font-size: 1em;
    line-height: 1.5em; 
    cursor: pointer;  
    perspective: 500px;
}
.button input {
    display: none;   
}
.button label {
    display: inline-block;
    line-height: 40px; 
    cursor: pointer;
}
.button:hover {
    background: linear-gradient(to top,
    rgb(240, 240, 232) 0, 
    rgb(248, 186, 127) 80% 100%);
    box-shadow: -4px -4px 9px rgba(245, 149, 149, 0.842), 4px 4px 9px rgba(245, 149, 149, 0.842);
    transition: box-shadow 1s linear .1ms;
}
#click:checked~label[for="click"]::before {
    background: linear-gradient(to bottom, 
    transparent 0%, transparent 11%,  
    rgba(214,11,0,0.81) 11%, 
    rgba(232,97,90,0.81) 67%, rgba(245,155,139,0.81) 100%);
}
#click:not(checked)~label[for="click"]::before {
    background: linear-gradient(to bottom, 
    transparent 0%, transparent 11%,  
    rgba(129, 141, 247, 0.81) 11%, 
    rgba(185, 208, 241, 0.81) 67%, rgba(220, 234, 252, 0.81) 100%);
}
label::before {
    margin: 300px 0 0 120px;
    content: " ";
    background-color: transparent;
    width: 300px;
    height: 200px;
    display: block;
    border: 4px solid rgba(136, 133, 133, 0.678);
    border-bottom: 16px solid rgba(136, 133, 133, 0.678);
    border-top: transparent;
    transform: rotateX(-50deg);
    transform-style: preserve-3d;  
    cursor: auto;
}



